:root {
    /* Gradient Scales */
    --gradient: linear-gradient(
        45deg,
        #845ec2,
        #d65db1,
        #ff6f91,
        #ff9671,
        #ffc75f,
        #f9f871
    );
    --OceanBlueGradient: linear-gradient(
        45deg,
        #2E3192,
        #1BFFFF
    );
    --EternalConstanceGradient: linear-gradient(
        45deg,
        #09203F,
        #537895
    );

    /* Main Color Theme - Dark */
    --BackgroundIntro: linear-gradient(rgba(0,0,0,0.8),#fff);
    --BackgroundBody: rgba(0,0,0,0.8);
    --BackgroundColorNavContainer: rgba(0,0,0,0.8);
    --LinkColor: #fff;
    --BackgroundColorLeftColumnLayoutContainer: rgba(0,0,0,0.8);
    --BackgroundCode: rgba(0,0,0,0.9);
    --BackgroundGeneral: rgba(0,0,0,0.8);
    --StandardBackground: #373737;
    --DefaultTextColor: #b6b6b6;
}

body {
    margin: 0;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    /*
    background-image: var(--OceanBlueGradient);
    background-size: 1000%;
    animation: bg-animation 20s infinite alternate;
    */
    background-color: var(--BackgroundBody);
}

@keyframes bg-animation {
    0% {background-position: left;}
    100% {background-position: right;}
}

/* Opposite Color Theme - White */
.White {
    --BackgroundIntro: linear-gradient(180deg,rgba(255,255,255,0.1),#f6f6f6);
    --BackgroundBody: rgba(255,255,255,0.1);
    --BackgroundColorNavContainer: rgba(255,255,255,0.98);
    --LinkColor: #000;
    --BackgroundColorLeftColumnLayoutContainer: rgb(232 232 232 / 80%);
    --BackgroundCode: #f5f5f5;
    --BackgroundGeneral: #fff;
    --StandardBackground: #dedede;
    --DefaultTextColor: #6f6f6f;

    color: #000;
}

div.building-content {
    height: 75vh;
    justify-content: center;
    align-items: center;
}

/* Text Decoration */
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.3rem;
}
a {
    color: var(--LinkColor);
    text-decoration: none;
}
a.left-to-right::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: rgb(254, 179, 38);
    transition: width .3s;
}
a.left-to-right:hover::after {
    width: 100%;
}

a.link-not-selected:hover {
    color:rgb(254, 179, 38);
}
a.link-selected {
    color:rgb(254, 179, 38);
}

a.on-text {
    color: rgb(254, 179, 38);
}
a.on-text:hover {
    text-decoration: underline;
}


.colorfull-1 {
    color:rgb(254, 179, 38);
}
p.DefaultText {
    font-size: 18px;
    color: var(--DefaultTextColor);
    line-height: 28px;
    text-align: justify;
}

.T {
    transition: 0.6s ease;
}

/* Buttons */
button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    border-radius: 4px;
}
button.unfilled {
    color: rgb(254, 179, 38);
    background-color: transparent;
    border: 2px solid rgb(254, 179, 38);
}
button.unfilled:hover {
    color: #000;
    background-color: rgb(254, 179, 38);
}
button.filled {
    color: #000;
    background-color: rgb(254, 179, 38);
    border: 2px solid rgb(254, 179, 38);
}

/* Input */
input[type=submit] {
    background-color: rgb(254, 179, 38);
    border: none;
    color: #fff;
    font-weight: bold;
    padding: 7px 22px;
    margin: 4px 2px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: rgb(236, 168, 39);
}

select {
    padding: 5px 5px;
    margin: 4px 2px;
    cursor: pointer;
}

/* table */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0px 20px 0px;
    border: 1px solid #dcdcdc;
}
table, td, th {
    border: 1px solid #dcdcdc;
  }

/* ------------- HEADER ------------- */
header {
    position: sticky;
    top: 0;
    z-index: 98;
}
.nav-container {
    padding: 20px;
    background-color: var(--BackgroundColorNavContainer);
    display:flex;
    align-items: center;
}
.nav-logo {
    width: 25%;
    font-size: 30px;
}
.nav-links {
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    align-items: center;
}
.nav-menu-mobile, .div-menu-mobile {
    display: none;
}
.toggle-colortheme-icon:hover {
    cursor: pointer;
}

@media (any-pointer: coarse) {
    .nav-container {
        justify-content: space-between;
    }
    .nav-logo {
        width: 80%;
        font-size: 20px;
    }
    .nav-links {
        display: none;
    }
    .nav-menu-mobile {
        display: flex;
        justify-content: right;
        width: 35%;
        z-index: 99;
    }
    .div-menu-mobile {
        display: none;
        background-color: var(--BackgroundColorNavContainer);
        position: fixed;
        right: 0;
        width: 47%;
        top: 0;
        height: 100%;
        padding-top: 20%;
    }
    .div-menu-mobile ul {
        list-style-type: none;
        margin: 0;
        padding: 20px;
        line-height: 52px;
        font-size: 18px;
    }
}

/* ------------- MAIN ------------- */

div.light {
    background-color: #fff;
    color: #000;
}
div.dark {
    background-color: #000;
    color: #fff;
}

/* MAIN */
div.vertical-main-containers {
    display: flex;
    flex-direction: column;
}
.main-blocks {
    padding: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main-blocks .headline {
    width: 50%;
}
.main-blocks .project {
    width: 30%;
}
@media (any-pointer: coarse) {
    .main-blocks {
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
    .main-blocks .headline {
        width: 100%;
    }
    .main-blocks .project {
        width: 100%;
    }
}

/* INTRO */
.intro-container {
    display: flex;
    padding: 20px;
    background: var(--BackgroundIntro);
}
.intro-container-item {
    font-family: CentraNube,system-ui,BlinkMacSystemFont,Helvetica Neue,arial,sans-serif;
    /*width: 50%;*/
}
.intro-container .MainTitle {
    margin: 50px;
    font-size: 9.4vw;
}

.intro-container .MainTitle-container .SubMainTitle {
    font-size: 1.2vw;
}
.intro-container .intro-container-item .MainTitle-container {
    padding: 15vh 0px 15vh 0px;
}

.show-block-container-dark {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background: linear-gradient(#353535, rgba(0, 0, 0, 0.8));
    border-radius: 4px;
}

@media (any-pointer: coarse) {
    .intro-container {
        flex-direction: column;
    }
    .intro-container .MainTitle {
        margin: 0px;
        font-size: 16vw;
    }
    .intro-container .MainTitle-container .SubMainTitle {
        font-size: 4.2vw;
    }
}

/* ------------- FOOTER ------------- */
.footer-container {
    padding: 20px;
}

/* ------------- LAYOUTS PAGE ------------- */
div.two-columns-layout-container {
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--BackgroundColorLeftColumnLayoutContainer);
}
div.left-column-layout {
    display: flex;
    width: 16%;
    padding: 20px 0px 20px 20px;
    box-sizing: border-box;
    height: 100%;
    background-color: var(--BackgroundColorLeftColumnLayoutContainer);
}
div.right-column-layout {
    width: 84%;
    box-sizing: border-box;
    padding: 40px;
    background-color: var(--StandardBackground);
}

.left-column-layout ul {
    list-style-type: none;
    margin: 0;
    padding-left: 20px;
}
.left-column-layout ul li {
    margin-bottom: 45px;
}

.default-layout-container {
    margin: 20px 0;
    box-shadow: 60px -16px #737373;
    border-radius: 4px;
    background-color: #fff;
    padding: 0px 20px 0px 20px;
}
.default-layout-container p {
    color: #6f6f6f;
}
.default-layout-container h2 {
    color: #000;
}

@media (any-pointer: coarse) {
    div.two-columns-layout-container {
        display: flex;
        flex-direction: column;
    }
    div.left-column-layout {
        width: 100%;
        height: auto;
        overflow-y: auto;
        padding: 0;
        position: fixed;
        z-index: 1;
    }
    .left-column-layout ul {
        display: flex;
        column-gap: 35px;
        padding: 20px;
        text-align: center;
    }
    .left-column-layout ul li {
        margin-bottom: 0;
        white-space: nowrap;
    }
    div.right-column-layout {
        width: 100%;
        padding: 100px 10px 100px 10px;
    }
}


/* ------------- Exec-Code ------------- */
/*Vertical*/
.exec-code-container-vertical {
    display: flex;
    margin: 20px 0;
    box-shadow: 60px -16px #737373;
    border-radius: 4px 4px 0px 4px;
}
.exec-container-vertical ,
.code-container-vertical {
    width: 50%;
    justify-content: center;
    display: flex;
    position: relative;
}
.exec-background-vertical {
    background-color: #fff;
    width: 100%;
    padding: 20px;
    max-height: 300px;
    overflow-y: auto;
    border-radius: 4px 0px 0px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.code-background-vertical {
    background-color: var(--BackgroundCode);
    width: 100%;
    padding: 20px;
    max-height: 300px;
    overflow-y: auto;
    color: #00c400;
    border-radius: 0px 4px 4px 0px;
}
/*Horizontal*/
.exec-code-container-horizontal {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    box-shadow: 60px -16px #737373;
    border-radius: 4px 4px 0px 4px;
}
.exec-container-horizontal ,
.code-container-horizontal {
    justify-content: center;
    display: flex;
    position: relative;
}
.exec-background-horizontal {
    background-color: #fff;
    width: 100%;
    padding: 20px;
    max-height: 350px;
    overflow-y: auto;
    border-radius: 4px 4px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.code-background-horizontal {
    background-color: var(--BackgroundCode);
    width: 100%;
    padding: 20px;
    max-height: 190px;
    overflow-y: auto;
    color: #00c400;
    border-radius: 0px 4px 4px 4px;
}
button.copy-code {
    position: absolute;
    bottom: 10px;
    right: 25px;
    background-color: transparent;
    color: #565656;
    border: 2px solid #565656;
}
button.copy-code:hover {
    color: #747474;
    border: 2px solid #747474;
}
div.buttons-code-container {
    position: absolute;
    top: 10px;
    width: 50%;
    right: 20px;
    display: flex;
    justify-content: end;
}

/*Classes inside Code Blocks*/
span.Comment {
    color: #7b7b7b;
}

@media (any-pointer: coarse) {
    .exec-code-container-vertical {
        flex-direction: column;
    }
    .exec-container-vertical,
    .code-container-vertical {
        width: 100%;
    }
    .code-background-vertical,
    .exec-background-vertical,
    .code-background-horizontal,
    .code-background-horizontal {
        max-height: none;
        overflow-y: none;
    }
}

.Displayed-container {
    display: block;
}
.NonDisplayed-container {
    display: none;
}

/* ------------- About ------------- */
.about-layout {
    background-color: var(--StandardBackground);
    box-sizing: border-box;
    padding: 40px;
}
.about-container {
    padding: 20px 0;
    gap: 30px;
}
.about-layout-inside {
    display: flex;
    justify-content: center;
}
.about-layout-inside .centralize {
    width: 60%;
}

@media (any-pointer: coarse) {
    .about-layout {
        padding: 20px;
    }
    .about-layout-inside .centralize {
        width: 100%;
    }
}

