.loader0 {
    width: 50px;
    height: 50px;
    border: 3px solid #000;
    border-radius: 50%;
    border-bottom-color: transparent;
    animation: rotation 1s linear infinite;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.loader1 {
  width: 48px;
  height: 12px;
  background: #000;
  margin-top: 40px;
  position: relative;
}
.loader1::after {
  content: '';
  border: 15px solid transparent;
  border-top-color: #000;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
  animation: bounce 0.4s ease-in-out infinite alternate;
}
.loader1::before {
  content: '';
  width: 15px;
  height: 20px;
  background: #000;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 25px;
  animation: bounce 0.4s ease-in-out infinite alternate;
}
  
@keyframes bounce {
  0% {
    transform: translate(-50%, 5px);
  }
  100% {
    transform: translate(-50%, -5px);
  }
}


.loader2 {
  color: #000;
  /* Must be monospaced */
  font-family: monospace;
  font-size: 30px;
  /* I'm clipping and displaying only element width */
  clip-path: inset(0 100% 0 0);
  animation: load 2s steps(11) infinite;
}
.loader2:before {
  content:"Loading...";
}

@keyframes load
{
  to 
  {
    /* ch unit is defined as the width of character 0 (ch unit works as an exact measurement for monospaced fonts) */
    clip-path: inset(0 -1ch 0 0);
  }
}

/* ------------------- ACCESSIBLE FORM ------------------- */

div.accessible-forms-container {
  display: flex;
  justify-content:space-around;
}
@media (any-pointer: coarse) {
  div.accessible-forms-container {
    flex-direction: column;
    gap: 20px;
  }
}

form.accessible-1 {
  width: 100%;
  padding: 20px;
  border: 1px solid #bebebe;
  border-radius: 4px;
}

form.accessible-1:focus-within {
  background-color: #00bf7d;
  border: 1px solid #00bf7d;
}

form.accessible-1 label {
  display: block;
  color: #000;
  padding-bottom: 10px;
}
form.accessible-1 input:focus-within,
form.accessible-1 textarea:focus-within {
  scale: 1.2;
}

form.accessible-2 {
  width: 100%;
  border: 1px solid #00d3af;
  border-radius: 4px;
}
form.accessible-2 label {
  display: block;
  color: #000;
  padding-bottom: 10px;
}
form.accessible-2 > div {
  padding: 20px;
}
form.accessible-2 > div:focus-within {
  background: #00d3af;
}
.mandatory {
  color: red;
}

form.accessible-3 {
  width: 100%;
  background-color: #1368b5;
  border-radius: 4px;
  padding: 20px;
}
form.accessible-3 label {
  display: block;
  color: #fff;
  padding-bottom: 10px;
}
form.accessible-3 input {
  font-size: 16px;
  height: 35px;
}
form.accessible-3 input[type='checkbox'] {
  width: 20px;
  accent-color: #000;
}